
.containerCustom{

    margin-top: 5px;
    border-radius: 5px;
    background-color: #564f4f;
    color: rgb(245, 245, 240);
  
  

}

body {

    background-image: url("../images/bls_image.png");
    background-repeat: no-repeat;
    color: white;
 

}
.error{
    margin-top: 60px;
    
    
}


.td1{
    width: 25%;
}
.td2{
    width: 75%;
}

.primary-btn:hover{

 background-color:#b16c63;

}

.danger{
    background-color: #d85e5e;
}

#boot-icon:hover{
    cursor: pointer;
}
.gg-remove-r {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 4px;
    
}

.gg-remove:hover{
    cursor: pointer;
}